<h1>List of Restaurants</h1>

<ul id = "restaurants" style="list-style: none;">
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant), class: "btn btn-secondary m-1"%></li>
  <% end %>
</ul>

<%= link_to "Create a restaurant", new_restaurant_path, class: "btn btn-primary"%>
